__pycache__/
.ipynb_checkpoints/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual envs
env/
venv/
.venv/
ENV/
.env
.env.*

# OS / editors
.DS_Store
Thumbs.db
.vscode/
.idea/

# Data (keep folders, ignore files)
data/**
!data/
!data/**/
!data/**/README.md
!data/**/.gitkeep

# Artifacts / outputs (keep folders, ignore files)
artifacts/**
!artifacts/
!artifacts/**/
!artifacts/**/README.md
!artifacts/**/.gitkeep
